{% extends 'base.html.twig' %}

{% block body %}
    <div class="card text-center">
        <div class="card-header card-header-danger">
            <i class="fa fa-3x fa-ban"></i>
        </div>
        <div class="card-body">
            <h2 class="title">Access Denied</h2>
        </div>
    </div>
{% endblock %}
